<h1>Posts:</h1>
{{#if posts.length}}
  <ul>
    {{#each posts}}
      <li>
        <article>
          <h2>
            <a href="/posts/{{_id}}">{{name}}</a>
          </h2>
          <p>{{text}}</p>
          <div class="info">
            <span>{{createdAt}}</span>
            <span>{{author}}</span>
          </div>
          <button class="btn-delete" data-id="{{_id}}">
            <i class="fas fa-trash-alt" data-id="{{_id}}"></i>
          </button>
        </article>
      </li>
    {{/each}}
  </ul>
  <script src="/js/deletePost.js"></script>
{{else}}
  <a href="/add-post">Add post</a>
{{/if}}